<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rj.android.resultmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotActivity" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".user.Admin" />
        <activity android:name=".user.DEO" />
        <activity android:name=".user.FACULTY" />
        <activity android:name=".user.STUDENT" />
        <activity android:name=".ViewProfile" />
        <activity android:name=".marksDetails" />
        <activity android:name=".updateMarks" />
        <activity android:name=".ViewStudentInfo" />
        <activity android:name=".addMarks" />
        <activity android:name=".addUser" />
        <activity android:name=".updateUser" />
        <activity android:name=".deleteUser"></activity>
    </application>

</manifest>